# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/target/classes/db/migration/V1__init_banking_schema.sql
/target/classes/application.yml
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/com.bank.ingestion.adapter.file.TxtFixedWidthParserTest.txt
/target/surefire-reports/com.bank.ingestion.architecture.HexagonalArchitectureTest.txt
/target/surefire-reports/com.bank.ingestion.domain.service.AccountResolutionServiceTest.txt
/target/surefire-reports/com.bank.ingestion.domain.service.FileValidationServiceTest.txt
/target/surefire-reports/com.bank.ingestion.domain.service.ReconciliationServiceTest.txt
/target/surefire-reports/com.bank.ingestion.domain.service.RowValidationServiceTest.txt
/target/surefire-reports/com.bank.ingestion.integration.IngestionIntegrationTest.txt
/target/surefire-reports/TEST-com.bank.ingestion.adapter.file.TxtFixedWidthParserTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.architecture.HexagonalArchitectureTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.domain.service.AccountResolutionServiceTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.domain.service.FileValidationServiceTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.domain.service.ReconciliationServiceTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.domain.service.RowValidationServiceTest.xml
/target/surefire-reports/TEST-com.bank.ingestion.integration.IngestionIntegrationTest.xml
/target/test-classes/fixtures/crlf_file.txt
/target/test-classes/fixtures/missing_description.txt
/target/test-classes/fixtures/sample_3rows.txt
/target/test-classes/application-test.yml
/target/test-classes/archunit.properties
/target/ingestion-service-0.0.1-SNAPSHOT.jar.original
/target/jacoco.exec
/app1/target/classes/db/migration/V1__init_banking_schema.sql
/app1/target/classes/application.yml
/app1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/app1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/app1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/app1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/app1/target/surefire-reports/com.bank.ingestion.adapter.file.TxtFixedWidthParserTest.txt
/app1/target/surefire-reports/com.bank.ingestion.architecture.HexagonalArchitectureTest.txt
/app1/target/surefire-reports/com.bank.ingestion.domain.service.AccountResolutionServiceTest.txt
/app1/target/surefire-reports/com.bank.ingestion.domain.service.FileValidationServiceTest.txt
/app1/target/surefire-reports/com.bank.ingestion.domain.service.ReconciliationServiceTest.txt
/app1/target/surefire-reports/com.bank.ingestion.domain.service.RowValidationServiceTest.txt
/app1/target/surefire-reports/TEST-com.bank.ingestion.adapter.file.TxtFixedWidthParserTest.xml
/app1/target/surefire-reports/TEST-com.bank.ingestion.architecture.HexagonalArchitectureTest.xml
/app1/target/surefire-reports/TEST-com.bank.ingestion.domain.service.AccountResolutionServiceTest.xml
/app1/target/surefire-reports/TEST-com.bank.ingestion.domain.service.FileValidationServiceTest.xml
/app1/target/surefire-reports/TEST-com.bank.ingestion.domain.service.ReconciliationServiceTest.xml
/app1/target/surefire-reports/TEST-com.bank.ingestion.domain.service.RowValidationServiceTest.xml
/app1/target/test-classes/fixtures/crlf_file.txt
/app1/target/test-classes/fixtures/missing_description.txt
/app1/target/test-classes/fixtures/sample_3rows.txt
/app1/target/test-classes/application-test.yml
/app1/target/jacoco.exec
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/remote-targets.xml
/.idea/vcs.xml
